// COLOR PALET:
$cl-extra-light: #ffe8f0;
$cl-light: #E6B2C3;
$cl-main: #D36286;
$cl-dark: #C92459;
$cl-darker: #B20039;
$cl-danger-dark: #ad002f;

$cl-light-grey: #eaeaea;
$cl-grey: #f7f7f7;
$cl-footer: #ffe8f0;;

$cl-font: #666;
$cl-white: #fff;
$cl-black: #000;

// CARDS
$cl-card-1-light: #ffe8f0;
$cl-card-1-midle: #E6B2C3;
$cl-card-1-dark: #C92459;
    
// FONT SIZES
$def-font-size: 1.6rem;

// GRID:
$grid-width: 114rem;
$grid-width-small: 60rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;